In [1]:
import streamlit as st
import datetime
import helpers as hlp
import api_requests as api
import numpy as np

In [6]:
api.use_token()

In [8]:
import pandas as pd
import numpy as np
result = pd.DataFrame(columns = [['Journey_nbr', 'Departure', 'Arrival', 'Time_departure', 'Time_arrival', 'Journey_duration','Transport_mode', 'Tot_nbr_stages', 'Tot_price' ]])
result['Journey_nbr']= [1,1,2]
result['Departure']=['A','B','C']
result['Arrival']=['B','C', 'D']
result['Time_departure']=['9:00', '10:00','11:00']
result['Time_arrival']=['9:30', '10:20','11:10']
result['Journey_duration']=[30,20,10]
result['Transport_mode']=['Train', 'Bus', 'Foot']
result['Tot_nbr_stages']=[3,3,3]
result['Tot_price']=[10,10,10]
result

,Journey_nbr,Departure,Arrival,Time_departure,Time_arrival,Journey_duration,Transport_mode,Tot_nbr_stages,Tot_price
0,1,A,B,9:00,9:30,30,Train,3,10
1,1,B,C,10:00,10:20,20,Bus,3,10
2,2,C,D,11:00,11:10,10,Foot,3,10

In [25]:
test = result.iloc[np.where(result['Departure'] == 'A')[0]]
test['Departure'].loc[0]

Departure    A
Name: 0, dtype: object

In [48]:
result['Transport_mode'].loc[0].values[0]

'Train'

In [51]:
result['Transport_mode'].values.tolist()

list_=[]
for i in range (len(result['Transport_mode'])):
    list_.append(result['Transport_mode'].loc[i].values[0])
str(list_)

"['Train', 'Bus', 'Foot']"

In [34]:
nbr_journey_tot = np.max(result['Journey_nbr'])
for n in  range (nbr_journey_tot):
    trips = result.iloc[np.where(result['Journey_nbr'] == (n+1))[0]]

    display(trips)
    m = len(trips['Journey_nbr'])
    departure_time_journey=trips.iloc[0]['Time_departure']
    arrival_time_journey=trips.iloc[m-1]['Time_arrival']
    departure_spot= trips.iloc[0]['Departure']
    arrival_spot=trips.iloc[m-1]['Arrival']
    #duration=arrival_time_journey-departure_time_journey
    duration = 0

    list_transport=[]
    for i in range (len(trips['Transport_mode'])):
        print(i)
        list_transport.append(trips['Transport_mode'].iloc[i].values[0])
        display(trips['Transport_mode'].iloc[i].values[0])
    button_name ='From' + departure_spot +' to ' + arrival_spot + ',   ' + str(duration) +' hours,   transports: '+ str(list_transport) + ',  ' + str(trips.iloc[0]['Tot_nbr_stages']) + ' stages.   Price:' + str(trips.iloc[0]['Tot_price'])+' CHF' 
    #button_name = 'Departure: ' + departure_spot +' ------ Arrival: ' + arrival_spot + ', ' + str(duration) +' hours, transports: '+ str(list_transport) + ', Stages number :' + str(trips.iloc[0]['Tot_nbr_stages']) + ', Price:' + str(trips.iloc[0]['Tot_price'])
    #button_name =str(list_transport) + ', Stages number :' + str(trips.iloc[0]['Tot_nbr_stages']) + ', Price:' + str(trips.iloc[0]['Tot_price'])
    print(button_name)

,Journey_nbr,Departure,Arrival,Time_departure,Time_arrival,Journey_duration,Transport_mode,Tot_nbr_stages,Tot_price
0,1,A,B,9:00,9:30,30,Train,3,10
1,1,B,C,10:00,10:20,20,Bus,3,10

0

'Train'

1

'Bus'

FromA to C,   0 hours,   transports: ['Train', 'Bus'],  3 stages.   Price:10 CHF

,Journey_nbr,Departure,Arrival,Time_departure,Time_arrival,Journey_duration,Transport_mode,Tot_nbr_stages,Tot_price
2,2,C,D,11:00,11:10,10,Foot,3,10

0

'Foot'

FromC to D,   0 hours,   transports: ['Foot'],  3 stages.   Price:10 CHF

In [38]:
#display the result
nbr_journey_tot = np.max(result['Journey_nbr'])
all_trips=[]
button_names=[]
all_transport=[]
for n in  range (nbr_journey_tot):
    trips = result.iloc[np.where(result['Journey_nbr'] == (n+1))[0]]
    all_trips.append(trips)

    m = len(trips['Journey_nbr'])
    departure_time_journey=trips.iloc[0]['Time_departure']
    arrival_time_journey=trips.iloc[m-1]['Time_arrival']
    departure_spot= trips.iloc[0]['Departure']
    arrival_spot=trips.iloc[m-1]['Arrival']
    #duration=arrival_time_journey-departure_time_journey
    duration = 0

    list_transport=[]
    for i in range (len(trips['Transport_mode'])):
        list_transport.append(trips['Transport_mode'].iloc[i].values[0])
    all_transport.append(list_transport)
    button_name ='From' + departure_spot +' to ' + arrival_spot + ',   ' + str(duration) +' hours,   transports: '+ str(list_transport) + ',  ' + str(trips.iloc[0]['Tot_nbr_stages']) + ' stages.   Price:' + str(trips.iloc[0]['Tot_price'])+' CHF' 
    button_names.append(button_name)

all_transport[0]

['Train', 'Bus']

In [ ]:
map=None
    for n, value in enumerate (button_names):
        if st.button(value):
            st.dataframe((all_trips[n][[ 'Departure', 'Arrival', 'Time_departure', 'Time_arrival', 'Journey_duration','Transport_mode']]).reset_index(drop=True), width=1500)
            #Add map
            if ('CAR' in all_transport[n]): 
                map=st.checkbox('Display map',map)
                if(map==True):st.write('Which transport type would you like to use?')
    #Appelle la fonction qui créé l'image generate_img(departure_coord, arrival_coord)

In [43]:
liste_test = all_transport[0]
if 'Train' in liste_test: print('True')

In [22]:
stations_df = hlp.get_stations('Lausanne')
stations_df[stations_df['name']=='Lausanne']['centroid'][0]

[6.629095, 46.516777]

In [24]:
type('Lausanne')

str

In [23]:
stations_df

,id,name,type,canton,centroid
0,8501120,Lausanne,StopPlace,VD,"[6.629095, 46.516777]"
1,8589523,"Lausanne, Bessières",StopPlace,VD,"[6.637078, 46.520714]"
2,8592028,"Lausanne, Délices",StopPlace,VD,"[6.628043, 46.512022]"
3,8592050,"Lausanne, gare",StopPlace,VD,"[6.629652, 46.517604]"
4,8592061,"Lausanne, Jordils",StopPlace,VD,"[6.627432, 46.509927]"
5,8592086,"Lausanne, Ouchy-Olympique",StopPlace,VD,"[6.626641, 46.507473]"
6,8579237,"Lausanne, Ours",StopPlace,VD,"[6.640673, 46.521245]"
7,8590442,"Lausanne, Riponne-M. Béjart",StopPlace,VD,"[6.632026, 46.523069]"
8,8579238,"Lausanne, Sallaz",StopPlace,VD,"[6.646193, 46.532814]"
9,8591818,"Lausanne-Flon, pl. de l'Europe",StopPlace,VD,"[6.63047, 46.520328]"

In [2]:
"Session Test", st.session_state
#st.write (st.session_state)
transport_option = ['train', 'bus', 'foot', 'car', 'bike']

transport = st.radio(
    "Which transport type would you like to use?",
    ["Car", "Train", "Foot"])

st.write('You selected '+transport)

2023-12-03 07:46:13.836
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\gaell\anaconda3\envs\hackathon\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [5]:
"Session Test", st.session_state
transport = st.multiselect(
    "Which transport type would you like to use?",
    ["Car", "Train", "Foot"])